.table {
/**
* this would be stored way high up and setup for design tokens
  **/
  --even-row: #55D6BE;
  --odd-row: #ACFCD9;
}


.tbody tr:nth-child(odd){
  background-color: var(--odd-row);
}
.tbody tr:nth-child(even){
  background-color: var(--even-row);
}

.tbody tr td {
  padding: 4px 8px;
}

.dataCell {
  display: flex;
  place-content: center;
}

.phone {
  width: max-content;
  display: block;
  padding: auto;
}
